.complex.coin-payment-section .coin-payment-logo {
    display: inline-block;
    vertical-align: middle;
    margin: 0 20px 0 0px;
    width: 180px;
    height: 60px;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: 100% auto;
    background-position: center top;
    background-image: url('images/logo.png');
}

.section-config.with-button.coin-payment-section .config-heading strong {
    font-weight: normal;
}

.complex.coin-payment-section .button-container {
    float: right;
}

.complex.coin-payment-section .coin-payment-description {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
}

.coin-payment-section.section-config.active > .admin__collapsible-block + input + fieldset {
    margin-left: 40px;
}

