<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <coin_payments>
                <active>0</active>
                <model>Coinpayments\CoinPayments\Model\Methods\Coinpayments</model>
                <title>Coin Payments</title>
                <allowspecific>0</allowspecific>
                <group>coinpayments</group>
            </coin_payments>
        </payment>
        <coinpayment>
            <conf>
                <api_host>https://api.coinpayments.net</api_host>
                <checkout_host>https://checkout.coinpayments.net</checkout_host>
                <api_version>1</api_version>
                <package_version>2.0.0</package_version>
            </conf>
        </coinpayment>
    </default>
</config>